.row {
    display: flex;
  }
  
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 300px;
    margin: 10px;
    background-color: rgba(8.24, 2.75, 32.93, 0.9);
    border-radius: 10px;
    color: white;
    font-size:small ;
    
    
  }
  
  .cardheader {
      display: flex;
      justify-content: center;
      height: 100px;
      background-color: #150754;
      color: black;
      border-bottom: 1px solid white;
  }